header {
    border-bottom: 1px solid #e0e0e0; 
}
.home header{
    border-bottom: none;
}
footer {
    border-top: 1px solid #00afe9;
}
.language-toggle__btn:hover {
    color: #05b1e9;
}
.language-toggle--active .language-toggle__btn__arrow {
    transform: rotate(
180deg
);
}
.language-toggle--active .language-toggle__dropdown {
    position: absolute;
    top: calc(100% + 2px);
    left: -10px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity .2s,transform .2s;
}
.cart-count {
    font-size: 7px;
    font-weight: 500;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: rgba(114,114,114,.9);
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.5833333333em;
    margin-bottom: 20px;
    margin-right: 0px;
}
.menu-item-has-children > a > i.icon-angle-down{
    display: none;
}
.header-nav .menu-item:hover > a{
    text-decoration: unset;
}
.sub-menu li.menu-item:hover a{
    color: #05b1e9 !important;
}
.header-nav .sub-menu {
    padding: 0px;
}
.header-nav .menu-item > a{

    font-size: 16px;
    color: #58595b;
    letter-spacing: .005em;
    text-decoration: none;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 500;
    -webkit-transition: color .2s;
    transition: color .2s;
}
#top-bar .flex-row > .flex-right {
    margin-right: 201px;
}
.header-inner{
    position: relative;
}
.header-inner div:nth-child(4){
    position: absolute;
    right: 180px;
    top: 0;
}
.pd-0{
    padding: 0px !important;
}
body.home .max-width-1136 {
    max-width: 1136px !important;
}

.category-icons__img .col-inner {
    position: relative;
}
svg.category-icons__doodle__dots {
    width: 138px;
    height: auto;
}
.category-icons__img .col-inner img{
    width: 106px;
    min-height: 106px;
    border-radius: 100%;
    position: relative;
    z-index: 10;
}

.category-icons__img .img .img-inner{
    text-align: center;
    padding-top: 60px;
}
.category-icons__doodle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    fill: #69e2e3;
}

.category-icons__description {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.200em;
  margin-top: 25px;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 800;
  line-height: 20px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-transform: uppercase;
  text-align: center;
}
.category-icons__doodle__dots {
  width: 138px;
  height: auto;
}

.category-icons__doodle__flower-svg {
  width: 140px;
  height: auto;
}

.category-icons__doodle__flower-outline {

}

.category-icons__doodle__swirls {
  width: 140px;
  height: auto;
}

.category-icons__swirls__outer-outline,
.category-icons__swirls__inner-outline {
  fill: none;
  stroke: #69e2e3;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.category-icons__doodle__rays {
  width: 140px;
  height: auto;
}

.category-icons__doodle__ray {
  fill: none;
  stroke: #69e2e3;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.category-icons__doodle__star {
  width: 130px;
  height: auto;
}

.category-icons__doodle__star-outline {
  fill: none;
  stroke: #69e2e3;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.category-icons__wheel {
  width: 130px;
  height: auto;
}

.category-icons__wheel-outline {
  fill: none;
  stroke: #69e2e3;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.blog-listing__title h2{
    font-size: 31px;
    letter-spacing: .005em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 40px;
    border-bottom: none;
}
.home .section-title span {
    text-transform: capitalize !important;
    border-bottom: none;
}
.blog-listing__description {
    font-size: 17px;
    color: #58595b;
    letter-spacing: .005em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 27px;
}
.wpcf7 {
    color: #333;
    position: relative;
    max-width: 400px;
}
.newsletter-input .your-email input{
    border: 0;
    width: 350px;
    height: 36px;
    border-radius: 3px;
    font-family: Roboto;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    background: #fff;
    padding: 0 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
}

.button_mini input{
     background-color: #979797 !important;
    color: #fff;
    padding: 0;
    height: 36px;
    text-align: center;
    border-radius: 3px !important;
    font-size: 12px;
    font-weight: 600;
    padding: 0 15px;
    margin-left: 10px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}
.wpcf7-response-output.alert.alert-warning {
    display: none;
}
.pdb-0{
    padding-bottom: 0px !important;
}
.no-border{
    border: none !important;
}
.absolute-footer .footer-text.inline-block.small-block {
    padding-right: 70px;
    text-align: right;
    font-size: 11px;
    color: #606060;
    letter-spacing: .010em;
    text-decoration: none;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 600;
}
#footer .widget_nav_menu .menu li a{
    display: inline-block;
    font-size: 14px;
    color: #606060;
    letter-spacing: .010em;
    text-decoration: none;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
    -webkit-transition: color .2s;
    transition: color .2s;
    border: none;
}
#footer ul.menu>li+li, .widget>ul>li+li {
    border-top: none;
}
.wp-block-social-links .wp-social-link.wp-social-link.wp-social-link {
    margin: 4px 0px 4px 0 !important;
}
body .cart-icon strong{
    border-color : #446084;
    color: #446084;
}
body .cart-icon strong:after{
    border-color : #446084;
}
.isMobile{
    display: none !important;
}
@media screen and (max-width: 849px){
.mobile-sidebar .language-toggle {
    position: static;
    margin-top: 60px;
    width: 100%;
}

.language-toggle__heading {
    display: block !important;
}
.language-toggle__heading {
    background: #f2f1f1;
    font-size: 14px;
    color: #58595b;
    letter-spacing: .005em;
    text-decoration: none;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 500;
    padding: 10px;
    display: none;
}
.language-toggle__btn {
    font-weight: 400;
    border-bottom: 1px solid #e1e1e0 !important;
    display: block;
    width: 100%;
    text-align: center !important;
    padding: 11px 0 7px 24px;
    margin-bottom: 0px !important;
}
.language-toggle__btn__arrow {
    display: none;
}
.mobile-sidebar .language-toggle__dropdown {
    position: static;
    opacity: 1;
    transform: translateY(0);
    min-width: 0;
    background-color: unset !important;
}
.language-toggle__dropdown__link{
    text-align: center !important;
}
}
@media screen and (max-width: 549px){
    .isMobile{
        display: block !important;
    }
    .entry-summary{
        margin-top: 25px;
    }
    .tabbed-details__nav__item {
        font-size: 10px !important;
        padding: 10px 17px !important;
    }
    .slogan__text h3 {
        padding-top: 20px !important;
        font-size: 24px !important;
        justify-content: center;
        padding: 0px !important;
    }
    .col-mb{
        padding-bottom: 0px !important;
    }
    .Category-menu a.ux-menu-link__link.flex {
        font-size: 15px;
        letter-spacing: .050em;
        margin-top: 0;
        font-weight: 600;
        line-height: 1;
        border-top: 1px solid #349e9f;
        padding: 20px 0;
        -webkit-text-size-adjust: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
    }
    .Category-menu .ux-menu-link.flex.menu-item {
        background-color: #00BABC;
    }
    .order-2-mb{
        -ms-flex-order: 2;
        order: 2;
    }
    .order-1-mb{
        -ms-flex-order: 1;
        order: 1;
    }
    section.isMobile{
        padding: 0px;
    }
    #footer  .footer-2 > .row {
        flex-direction: column;
    }

    #footer  .footer-2 > .row #block-3{
        display: none;
    }

    #footer  .footer-2 > .row #nav_menu-3{
        margin-bottom: 0px;
    }
    ul.menu>li+li, .widget>ul>li+li {
        border-top: 1px solid #ececec !important;
    }

    #footer ul.menu>li, .widget>ul>li {
        text-align: center;
    }
    #footer #block-10 .wp-block-social-links{
        justify-content: center;
    }
    #block-10{
        margin-bottom: 0px;
    }
    #nav_menu-4 {
        margin-bottom: 0px;
    }
    .absolute-footer .footer-text.inline-block.small-block{
        padding-right: 0px;
    }

}
.main-content{
    padding: 50px 30px;
}
.woocommerce .widget-title{
    font-family: "Gotham";
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    color: #c4c4c4;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.is-divider{
    display: none !important;
}
ul.product-categories{
    margin-top: 20px !important;
}
ul.product-categories li {
    border-top: none !important;
    position: relative;
    max-width: max-content;
}
ul.product-categories li a {
    display: inline-block;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #58595b;
    letter-spacing: .005em;
    text-decoration: none;
    padding: 20px 0 !important;
    position: relative;
    max-width: max-content;
    z-index: 10;
}
ul.product-categories li a:hover{
    text-decoration: none;
}
ul.product-categories li.cat-item.active svg {
    display: block;
}
ul.product-categories li.cat-item svg {
    fill: none;
    stroke: #8bc9ee;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke-dasharray: 338;
    stroke-dashoffset: 338;
    stroke-linecap: round;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140%;
    opacity: 0;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-transition: stroke-dashoffset 0s .2s,opacity .2s;
    transition: stroke-dashoffset 0s .2s,opacity .2s;
}
ul.product-categories li.cat-item.active svg {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: #77d482;
}
ul.product-categories li.cat-item:hover svg{
    display: block;
    stroke-dashoffset: 0;
    opacity: 1;
    -webkit-transition: opacity 0s,stroke-dashoffset .3s cubic-bezier(.645, .045, .355, 1);
    transition: opacity 0s,stroke-dashoffset .3s cubic-bezier(.645, .045, .355, 1);
}
.custom-fas-right{
    right: 0;
}
.custom-fas-left{
    left: 0;
}
.wpgs-nav .slick-arrow{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 50%;
    margin-top: -15px;
}
.wpgs-nav {
    position: relative;
}
.wpgs-for .slick-arrow {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 117% !important;
    margin-top: -15px;
}
@media screen and (max-width: 767px){
    .wpgs-nav .slick-arrow{
       display: none !important;
       top: 50% !important;
    }
    .widget_product_categories{
        display: none;
    }
    .product-listing__item {
        width: 100% !important;
        border-bottom: 1px dotted #ddd;
        padding-bottom: 55px;
    }
    .product-callout__title {
        font-size: 13px !important;
    }
}

h1.product_title.entry-title {
    font-size: 30px;
    color: #00afe9;
    letter-spacing: .005em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1;
}
.single-product .entry-summary p.price , .single-product .entry-summary p.price span {
    font-size: 30px;
    color: #00afe9;
    letter-spacing: .005em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1;
}
.variations tr td select{
    width: 100px;
}
.single_variation_wrap span.woocommerce-Price-amount.amount {
    font-size: 30px;
    color: #00afe9;
    letter-spacing: .005em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1;
}
.order-now-btn {
    margin-right: 1rem;
}
.btn-1 {
    border: 1px solid #05c3f0;
    min-width: 170px !important;
    text-align: center;
    font-size: 12px;
    color: #05b1e9;
    letter-spacing: .2em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color .2s,background .2s,border .2s;
    transition: color .2s,background .2s,border .2s;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.product_buttons .btn-1 {
    min-width: 130px;
    letter-spacing: .1em;
    background-color: #fff;
}
.btn-1:hover {
    color: #fff;
    border-color: #37c1ed;
    background: #37c1ed;
    text-decoration: none;
}
.product_buttons button{
    margin-bottom: 0px !important;
}
#where-to-buy-btn{
    padding: 5px;
}
.tabbed-details {
    margin-bottom: 55px;
    margin-top: 15px;
}
.tabbed-details__nav {
    font-size: 0;
}
.tabbed-details__nav__item--active {
    border-top: 1px solid #05b1e9;
    border-right: 1px solid #05b1e9;
    border-left: 1px solid #05b1e9;
    background: #fff;
}

.tabbed-details__nav__item {
    padding: 15px 22px;
    border: 0;
    margin: 0 0 -1px 0;
    font-size: 12px;
    background: 0 0;
    position: relative;
    font-size: 12px;
    color: #00afe9;
    letter-spacing: .1em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    transition: color .2s;
}
.tabbed-details__description--active {
    display: block !important;
}
.tabbed-details__description {
    border: 1px solid #05b1e9;
    display: none;
    padding: 30px;
    font-size: 15px;
    color: #58595b;
    letter-spacing: .005em;
    line-height: 20px;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
}
.tabbed-details__nav__item--active {
    border-top: 1px solid #05b1e9;
    border-right: 1px solid #05b1e9;
    border-left: 1px solid #05b1e9;
    background: #fff;
}
.logo-listing--flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.tabbed-details__description--active .logo-listing--flex-start {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo-listing {
    font-size: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.logo-listing--flex-start .logo-listing__item {
    max-width: 90px;
}

.logo-listing__item {
    text-decoration: none;
    margin: 20px 20px;
    display: inline-block;
}
.single-product .comment_container img{
    display: none;
}
.single-product .comment_container .comment-text {
    padding-left: 0px;
}
.single-product h2.woocommerce-Reviews-title {
    font-family: Roboto;
    font-weight: 600;
    line-height: 1.1;
    color: #535353;
}
.single-product .star-rating{
    margin-right: 10px;
}
.activeComment{
    display: block !important;
}
.single-product  #review_form_wrapper{
    display: none;
}
.single-product  #review_form_wrapper input#submit{
    background-color: #0a0a0a !important;
}
.single-product .comment-text p {
    font-size: 15px;
    color: #58595b;
    letter-spacing: .005em;
    line-height: 20px;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
}
.single-product .commentlist{
    border-top: 1px solid #eee;
}
.spr-summary{
    margin-bottom: 5px;
}
.order-now-overlay {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.order-now-overlay:after {
    background-image: url('../images/order-now.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: right top;
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    bottom: 0;
    content: '';
}
.order-now-overlay:hover{
    text-decoration: none;
}
.order-now-overlay:hover span{
    color: #00afe9;
}
.product-listing__item__title {
    display: block;
    padding: 0 40px;
    color: #58595b;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .005em;
    line-height: 1.3;
    transition: color .2s;
}
.product-listing__item__img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
}
.single-product .slick-btn{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #00afe9;
    border: none;
    outline: none;
    background: transparent;
}
.single-product .slick-btn-slick-next {
    right: -20px;
}
.single-product .slick-btn-slick-prev{
    left: -20px;
}


.single-product .slick-btn-slick-prev:before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f104";
    font-size: 3rem;
  }

.single-product .slick-btn-slick-next:before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f105";
    font-size: 3rem;
}
.product-listing__item:hover .product-listing__item__title {
    color: #00afe9;
}

.slick-slider .slick-slide{
    display: none;
}
 .slick-slider .slick-slide:first-child{
    display: block;
}
.slick-initialized.slick-slider .slick-slide,
.slick-initialized.slick-slider .slick-slide:first-child{
    display: block;
}

section.related.products  > h2 {
    font-size: 20px;
    color: #58595b;
    letter-spacing: .005em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 500;
    margin-bottom: 40px;
}

.header-box {
    background: #00afe9;
    text-align: center;
    padding: 27px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.header-box__canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.header-box__title {
    color: #fff;
    font-size: 21px;
    letter-spacing: .2em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 800;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 13px;
    margin-bottom: 14px;
    position: relative;
    max-width: max-content;
}
.header-box__title:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #8bc9ee;
    border-radius: 3px;
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
}
.header-box__description , .header-box__description p {
    color: #fff;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: .005em;
    line-height: 21px;
    max-width: 550px;
    margin: 0 auto;
}
.shop-page-title.category-page-title.page-title {
    display: none;
}

.tout-rotator {
    width: 100%;
    background: #e5f1f7;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}
.category_tout-rotator__touts {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
.archive .category-tout-rotator__touts__item {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.archive .category-tout-rotator__touts__item .category_tout_image {
    height: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.tout-online-store {
    font-size: 21px;
    letter-spacing: .15em;
    line-height: 30px;
    top: calc(50% - 0px);
}

.tout-rotator__touts__item__tagline {
    position: absolute;
    top: calc(50% + 24px);
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 36px;
    letter-spacing: .15em;
    line-height: 52px;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    text-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.product-listing .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin-left: -15px;
}
.product-listing__item {
    width: 33.3333333%;
    text-align: center;
    text-decoration: none;
    margin-bottom: 30px;
    padding: 0 15px;
    display: block;
}
.product-listing .quantity{
    display: none !important;
}

.archive .variations tr td select {
    width: 100px;
    border: none;
    outline: none;
    color: #05b1e9;
}
.archive table.variations {
    display: flex;
    justify-content: center;
    border: none;
    color: #05b1e9;
    margin-bottom: 0px;
}
.archive .woocommerce-variation-price {
    border-top: none !important;
    font-size: .8em;
    padding: 7.5px 0;
}
.archive .woocommerce-variation.single_variation {
    display: none !important;
}
.archive .product-listing .btn-1 {
    background-color: #fff !important; 
}

.archive .product-listing .btn-1:hover {
    color: #fff;
    border-color: #37c1ed;
    background: #37c1ed !important;
    text-decoration: none;
}
.archive .product-listing__item form{
    margin-left: 15px;
}
.archive .product-listing__item .order-now-overlay{
    margin-bottom: 0px;
}
.archive .product-listing__item__title {
    min-height: 60px;
}

.btn-no-vari a.button {
    letter-spacing: .1em;
    border: 1px solid #05c3f0;
    min-width: 170px;
    text-align: center;
    font-size: 12px;
    color: #05b1e9;
    letter-spacing: .2em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color .2s,background .2s,border .2s;
    transition: color .2s,background .2s,border .2s;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.btn-no-vari a.button:hover{
    color: #fff;
    border-color: #37c1ed;
    background: #37c1ed !important;
}
.btn-no-vari {
    margin-top: 15px;
    margin-left: 20px;
}
.product-callout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    background: url('../images/grip__did_you_know_outline.svg') center no-repeat;
    background-size: 100% 100%;
    padding: 40px 0;
}
.product-callout__title {
    color: #00afe9;
    font-size: 15px;
    letter-spacing: .25em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.product-callout__description {
    color: #00afe9;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    padding: 0 24px;
    width: 100%;
}
.new_file_checkbox_label {
    display: inline-block;
    bottom: 9px;
    position: relative;
    color: #58595b;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .005em;
    line-height: 1.3;
}
.filter_checkbox_label {
    background-image: url('../images/unchecked.gif');
    background-size: auto 100%;
    width: 27px;
    height: 25px;
    background-repeat: no-repeat;
    display: inline-block !important;
    margin-bottom: 5px;
    font-weight: 700;
}
#online_filter {
    display: none;
}

#online_filter:checked+.filter_checkbox_label {
    background-image: url('../images/checked.gif?');
}
.woocommerce-cart button.button {
    border: 1px solid #05c3f0;
    padding: 5px 14px 5px 20px;
    min-width: 170px;
    text-align: center;
    font-size: 12px;
    color: #05b1e9;
    letter-spacing: .2em;
    font-family: "Gotham";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color .2s,background .2s,border .2s;
    transition: color .2s,background .2s,border .2s;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.woocommerce-cart button.button:hover{
    color: #fff;
    border-color: #37c1ed;
    background: #37c1ed;
}
.woocommerce-cart a.button-continue-shopping.button.primary.is-outline , a.button.wc-forward {
    border: 1px solid #05c3f0;
    padding: 5px 14px 5px 20px;
    min-width: 170px;
    text-align: center;
    font-size: 12px;
    color: #05b1e9;
    letter-spacing: .2em;
    font-family: "Gotham A","Gotham B";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color .2s,background .2s,border .2s;
    transition: color .2s,background .2s,border .2s;
    background-color: transparent;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.woocommerce-cart a.button-continue-shopping.button.primary.is-outline:hover, a.button.wc-forward:hover{
    color: #fff;
    border-color: #37c1ed;
    background: #37c1ed;
}
.woocommerce-cart a.checkout-button.button.alt.wc-forward {
    background: black;
}
.product-categories li.cat-item.cat-item-182 a {
    color: #05b1e9;
    font-weight: bold;
}
button.button-search.btn-4 {
    background: #fff;
    border-color: #37c1ed;
    color: #05b1e9;
}
.next-previous-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 55px;
    justify-content: space-between;
}
.next-previous-product__btn svg{
    width: 18px;
    height: 18px;
    fill: #05b1e9;
    -webkit-transition: fill .2s;
    transition: fill .2s;
}
.next-previous-product__btn:hover svg {
    fill: #58595b;
}
.next-previous-product__btn a{
    min-width: 170px;
    text-align: center;
    font-size: 12px;
    color: #05b1e9;
    letter-spacing: .2em;
    font-family: "Gotham A","Gotham B";
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color .2s,background .2s,border .2s;
    transition: color .2s,background .2s,border .2s;
    background-color: transparent;
    cursor: pointer;
}
.product-categories{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}
.product-categories li.cat-item.cat-item-182{
    order: 3;
}
.alert-custom{
    margin-top: 15px;
    list-style: none;
    color: #fff;
}
.alert-custom a{
    color: #fff;
}